- flash.each do |key, value|
  %div{ class: "alert alert-#{key}" }
    %a.close.fade.in{ "data-dismiss" => "alert", href: "#" } ×
    %ul
      - if value.is_a? Array
        - value.each do |message|
          %li
            = message
      - else
        %li
          = value
